# This file is based on info from these resources:
# http://nginx.org/en/docs/beginners_guide.html#proxy
# http://nginx.org/en/docs/http/ngx_http_proxy_module.html
# https://www.baeldung.com/nginx-forward-proxy

events {}
http {
	server {
		listen 8090;
		resolver ${FORWARD_PROXY_RESOLVER};
		location / {
			proxy_pass http://$host;
		}
		location ~ \.(txt)$ {
			return 403 "Reading is prohibited by corporate policy!";
		}
		location /auth {
			return 200 $http_proxy_authorization;
		}
	}
}
