<html>
{#if !map.isEmpty}
The capital of Tasmania is {map.Tasmania}, {map.['Java']} is a capital of Java and {map.get('The Great Britain')} is a capital of the UK.
{/if}
<!--  todo uncomment when https://github.com/quarkusio/quarkus/issues/28013 is fixed
{|Yes, you right, it's {map.['The Great Britain']}!|}
-->
<br>
{#for country in map.keySet}
    {country_count}. {country}<br>
{/for}
I am a Java programmer and there are {#if map.isEmpty}zero{#else}{map.size}{/if} cities I know:<br>
{#for capital in map.values}
    {capital_index}. {capital}<br>
{/for}
</html>
