package io.quarkus.ts.http.minimum;

import org.apache.http.HttpStatus;
import org.junit.jupiter.api.Test;

import io.quarkus.test.junit.QuarkusTest;
import io.restassured.RestAssured;

@QuarkusTest
public class HelloResourceTest {
    @Test
    public void shouldBeOk() {
        RestAssured.given().get("/hello").then().statusCode(HttpStatus.SC_OK);
    }
}
