name: "Pull Request CI"
on:
  - pull_request
jobs:
  build-released:
    name: JVM build - released Quarkus
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        # Uses sha for added security since tags can be updated
        uses: joschi/setup-jdk@e87a7cec853d2dd7066adf837fe12bf0f3d45e52
        with:
          java-version: openjdk${{ matrix.java }}
      - name: Build Quarkus QE Test Framework
        run: git clone https://github.com/Sgitario/quarkus-test-framework && cd quarkus-test-framework && mvn -B -s .github/mvn-settings.xml clean install -Pframework
      - name: Build with Maven
        run: mvn -fae -V -B -s .github/mvn-settings.xml clean verify
      - name: Zip Artifacts
        if: failure()
        run: |
          zip -R released-jvm${{ matrix.java }}.zip '*-reports/*'
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: ci-artifacts
          path: released-jvm${{ matrix.java }}.zip
  build-released-native:
    name: Native build - released Quarkus
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        # Uses sha for added security since tags can be updated
        uses: joschi/setup-jdk@e87a7cec853d2dd7066adf837fe12bf0f3d45e52
        with:
          java-version: openjdk${{ matrix.java }}
      - name: Build Quarkus QE Test Framework
        run: git clone https://github.com/Sgitario/quarkus-test-framework && cd quarkus-test-framework && mvn -B -s .github/mvn-settings.xml clean install -Pframework
      - name: Build with Maven
        run: |
          mvn -fae -V -B -s .github/mvn-settings.xml clean verify -Dquarkus.profile=native -Dquarkus.native.container-runtime=docker
      - name: Zip Artifacts
        if: failure()
        run: |
          zip -R released-native${{ matrix.java }}.zip '*-reports/*'
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: ci-artifacts
          path: released-native${{ matrix.java }}.zip