name: "Daily Build"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'
jobs:
  build-quarkus:
    name: Build Quarkus
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ 17 ]
    steps:
      - uses: actions/checkout@v6
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
      - name: Build Quarkus 999-SNAPSHOT
        run: |
          mkdir maven-repository
          LOCAL_REPO="$(pwd)/maven-repository"
          git clone https://github.com/quarkusio/quarkus.git && cd quarkus && ./mvnw -B --no-transfer-progress -s .github/mvn-settings.xml clean install -Dquickly -Dno-test-modules -Prelocations -Dmaven.repo.local=$LOCAL_REPO
      - name: Cache Build Outputs
        uses: actions/cache/save@v5
        with:
          # Keep same path ./action/cache-quarkus/action
          path: |
            maven-repository
          key: quarkus-daily-build-${{ github.run_id }}
  linux-build-jvm-latest:
    name: Linux JVM
    runs-on: ubuntu-latest
    needs: build-quarkus
    strategy:
      fail-fast: false
      matrix:
        java: [ 17, 21, 25 ]
        profiles: [ "root-modules", "http-modules,security-modules,spring-modules", "hibernate-modules",
                   "sql-db-modules", "root-modules -pl build/podman/,build/docker -Dtest-ubi8-compatibility",
                   "messaging-modules,websockets-modules,monitoring-modules,cache-modules,test-tooling-modules,nosql-db-modules"]
    steps:
      - uses: actions/checkout@v6
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
      - uses: ./.github/actions/cache-quarkus
      - uses: ./.github/actions/prepare-quarkus-cli
      - uses: ./.github/actions/use-docker-mirror
      - name: Test in JVM mode
        run: |
          mvn -fae -V -B --no-transfer-progress -fae clean verify -P ${{ matrix.profiles }} -Dinclude.quarkus-cli-tests -Dts.quarkus.cli.cmd="${PWD}/quarkus-dev-cli"
      - uses: ./.github/actions/zip-and-archive
        name: Zip and archive artifacts
        if: failure()
        with:
          java: '${{ matrix.java }}'
          os: 'linux'
          profiles: '${{ matrix.profiles }}'
          mode: 'jvm'
  linux-build-native-latest:
    name: Linux Native
    runs-on: ubuntu-latest
    needs: build-quarkus
    strategy:
      fail-fast: false
      matrix:
        java: [ 21 ]
        image: [ "ubi9-quarkus-mandrel-builder-image:jdk-25", "ubi-quarkus-mandrel-builder-image:jdk-21 -Dtest-ubi8-compatibility" ]
        profiles: [ "root-modules,websockets-modules,test-tooling-modules,nosql-db-modules",
                   "http-modules,cache-modules", "security-modules,spring-modules",
                    "hibernate-modules", "sql-db-modules", "messaging-modules,monitoring-modules"]
    steps:
      - uses: actions/checkout@v6
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
      - uses: ./.github/actions/cache-quarkus
      - uses: ./.github/actions/prepare-quarkus-cli
      - uses: ./.github/actions/use-docker-mirror
      - name: Test in Native mode
        run: |
          mvn -fae -V -B --no-transfer-progress -P ${{ matrix.profiles }} -fae clean verify -Dnative \
            -Dquarkus.native.builder-image=quay.io/quarkus/${{ matrix.image }} \
            -Dinclude.quarkus-cli-tests -Dts.quarkus.cli.cmd="${PWD}/quarkus-dev-cli"
      - uses: ./.github/actions/zip-and-archive
        name: Zip and archive artifacts
        if: failure()
        with:
          java: '${{ matrix.java }}'
          os: 'linux'
          profiles: '${{ matrix.profiles }}'
          mode: 'native'
          image: '${{ matrix.image }}'
  windows-build-jvm-latest:
    name: Windows JVM
    runs-on: windows-latest
    needs: build-quarkus
    strategy:
      fail-fast: false
      matrix:
        java: [ 21, 25 ]
    steps:
      - uses: actions/checkout@v6
      - name: Install JDK {{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
      - uses: ./.github/actions/cache-quarkus
      - uses: ./.github/actions/prepare-quarkus-cli-win
      - name: Build in JVM mode
        shell: bash
        run: |
          mvn -B --no-transfer-progress -fae clean verify -D"all-modules" -D"include.quarkus-cli-tests" -D"ts.quarkus.cli.cmd=$(pwd)\quarkus-dev-cli.bat" -D"gh-action-disable-on-win"
      - uses: ./.github/actions/zip-and-archive
        name: Zip and archive artifacts
        if: failure()
        with:
          java: '${{ matrix.java }}'
          os: 'windows'
          mode: 'jvm'
  windows-build-native-latest:
    name: Windows Native
    runs-on: windows-latest
    needs: build-quarkus
    strategy:
      fail-fast: false
      matrix:
        java: [ 21 ]
        graalvm-version: [ "mandrel-latest" ]
        graalvm-java-version: [ "21" ]
    steps:
      - uses: actions/checkout@v6
      - name: Install JDK {{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
      - name: Setup GraalVM
        id: setup-graalvm
        uses: graalvm/setup-graalvm@v1
        with:
          version: ${{ matrix.graalvm-version }}
          java-version: ${{ matrix.graalvm-java-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Configure Pagefile
        # Increased the page-file size due to memory-consumption of native-image command
        # For details see https://github.com/actions/virtual-environments/issues/785
        uses: al-cheb/configure-pagefile-action@v1.5
      - uses: ./.github/actions/cache-quarkus
      - name: Build in Native mode
        shell: bash
        run: |
          # Running only http/http-minimum as after some time, it gives disk full in Windows when running on Native.
          mvn -B --no-transfer-progress -fae -s .github/mvn-settings.xml clean verify -Dall-modules -Dnative -Dquarkus.native.container-build=false -pl http/http-minimum
      - uses: ./.github/actions/zip-and-archive
        name: Zip and archive artifacts
        if: failure()
        with:
          java: '${{ matrix.java }}'
          os: 'windows'
          mode: 'native'
  aarch64-linux-build-jvm-latest:
    name: Linux AArch64 JVM
    runs-on: ubuntu-24.04-arm
    needs: build-quarkus
    strategy:
      fail-fast: false
      matrix:
        java: [ 21, 25 ]
        profiles: [ "root-modules", "http-modules,security-modules,spring-modules", "hibernate-modules",
                    "sql-db-modules", "root-modules -pl build/podman/,build/docker -Dtest-ubi8-compatibility",
                    "messaging-modules,websockets-modules,monitoring-modules,cache-modules,test-tooling-modules,nosql-db-modules"]
    steps:
      - uses: actions/checkout@v6
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
      - uses: ./.github/actions/cache-quarkus
      - uses: ./.github/actions/prepare-quarkus-cli
      - uses: ./.github/actions/use-docker-mirror
      - name: Login to Red Hat registry
        uses: docker/login-action@v3
        with:
          registry: registry.redhat.io
          username: ${{ secrets.RED_HAT_REGISTRY_USERNAME }}
          password: ${{ secrets.RED_HAT_REGISTRY_PASSWORD }}
      - name: Test in JVM mode
        run: |
          mvn -fae -V -B --no-transfer-progress -fae clean verify -Daarch64 -P ${{ matrix.profiles }} -Dinclude.quarkus-cli-tests -Dts.quarkus.cli.cmd="${PWD}/quarkus-dev-cli"
      - uses: ./.github/actions/zip-and-archive
        name: Zip and archive artifacts
        if: failure()
        with:
          java: '${{ matrix.java }}'
          os: 'linux-aarch64'
          profiles: '${{ matrix.profiles }}'
          mode: 'jvm'
  aarch64-linux-build-native-latest:
    name: Linux AArch64 Native
    runs-on: ubuntu-24.04-arm
    needs: build-quarkus
    strategy:
      fail-fast: false
      matrix:
        java: [ 21 ]
        image: [ "ubi9-quarkus-mandrel-builder-image:jdk-21" ]
        profiles: [ "root-modules,websockets-modules,test-tooling-modules,nosql-db-modules",
                    "http-modules,cache-modules", "security-modules,spring-modules",
                    "hibernate-modules", "sql-db-modules", "messaging-modules,monitoring-modules"]
    steps:
      - uses: actions/checkout@v6
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
      - uses: ./.github/actions/cache-quarkus
      - uses: ./.github/actions/prepare-quarkus-cli
      - uses: ./.github/actions/use-docker-mirror
      - name: Login to Red Hat registry
        uses: docker/login-action@v3
        with:
          registry: registry.redhat.io
          username: ${{ secrets.RED_HAT_REGISTRY_USERNAME }}
          password: ${{ secrets.RED_HAT_REGISTRY_PASSWORD }}
      - name: Test in Native mode
        run: |
          mvn -fae -V -B --no-transfer-progress -P ${{ matrix.profiles }} -fae clean verify -Daarch64 -Dnative \
            -Dquarkus.native.builder-image=quay.io/quarkus/${{ matrix.image }} \
            -Dinclude.quarkus-cli-tests -Dts.quarkus.cli.cmd="${PWD}/quarkus-dev-cli"
      - uses: ./.github/actions/zip-and-archive
        name: Zip and archive artifacts
        if: failure()
        with:
          java: '${{ matrix.java }}'
          os: 'linux-aarch64'
          profiles: '${{ matrix.profiles }}'
          mode: 'native'
